.newReleaseStartpage a {
  background-image: none !important;
  background-repeat: no-repeat;
  margin-left: -20px;
  padding-left: 20px;
}

.start-left p.newReleaseStartpage {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid #8dc740;
  margin-bottom: -8px;
  background-color: #d2f0aa;
  border-radius: 5px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: none !important;
}

#ctl00_ContentPlaceHolder2_articleContent > div > div.start-left > br:nth-child(2) {
  display: none !important;
}

.start-left .left-topic {
  display: none !important;
  margin: 0px 0px 2px;
  padding: 0px 0px 0px 10px;
  background-color: #009879 !important;
  line-height: 26px;
  font-size: 110%;
  font-family: "Trebuchet MS", Verdana;
  font-weight: bold;
  color: white !important;
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  border-bottom: none !important;
  display: block;
  border-radius: 5px !important;
  font-weight: 500 !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.start-left {
  margin: 0;
  margin-right: 5px !important;
  width: 75% !important;
  padding: 0px;
  padding-right: 4px !important;
  padding-left: 4px !important;
  min-height: 617px;
  _height: 480px;
  float: left !important;
  background-color: #fff;
  border-right: none !important;
  display: grid !important;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.newsPost {
  margin: 10px;
  // border: 1px solid #009879 !important;
  border: none !important;
  border-radius: 5px;
  background-color: #fff !important;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative !important;
}
