li.topmenu-relations > a::after {
  content: "Start";
}

#ctl00_ContentPlaceHolder2_articleContent {
  font-family: "Poppins", "sans-serif" !important;
}

.profil-actions {
  display: none !important;
  .top-blogg {
    * {
      background-image: none !important;
      text-indent: 12px !important;
      border-radius: 15px;
      margin-right: 20px !important;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      width: 115px !important;
    }
    a {
      ::before {
        font-family: "Material Icons";
        content: "dynamic_feed";
        font-size: 22px;
        margin-right: 5px;
        vertical-align: bottom !important;
        font-weight: normal !important;
      }
    }
  }
}
.metainfo {
  display: none !important;
}

.start-top {
  background-color: #fff;
  background-repeat: repeat-y;
  width: 569px;
  margin: 0;
  padding: 0;
  padding-top: 2px !important;
  min-height: 390px;
  height: 400px;
  overflow: visible;
}

// .article {
//   background-color: #f1f1f1;
//   background-image: url(images/article-bg.png);
//   margin-left: 200px;
//   margin-right: 37px;
//   padding-bottom: 25px;
// }
