.start-right h2.right-topic {
  margin: 0;
  padding: 0;
  background-color: #009879 !important;
  line-height: 26px;
  padding-left: 10px;
  font-size: 110%;
  font-family: Trebuchet MS, Verdana;
  font-weight: bold;
  color: white !important;
  border-bottom: solid 1px #fff;
  margin-bottom: 1px;
  display: block;
  border-radius: 5px !important;
  font-weight: 500 !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

.lessonsTodayList li {
  border-radius: 3px;
  background-color: white !important;
  margin: 5px !important;
  padding: 2px 0 !important;
  border-radius: 5px !important;
  border: 1px solid #009879;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

.lessonsTodayList li a {
  margin-left: 3px !important;
  text-decoration: none !important;
  font-weight: bold !important; }

#ctl00_ContentPlaceHolder2_PanelTodaysLessonsStudent > h2:before {
  font-family: "Material Icons";
  content: "event_note";
  font-size: 18px;
  margin-right: 5px;
  vertical-align: bottom !important;
  font-weight: normal !important; }

#ctl00_ContentPlaceHolder2_articleContent > div > div.start-left > h2:before {
  font-family: "Material Icons";
  content: "mark_chat_unread";
  font-size: 15px;
  margin-right: 5px;
  vertical-align: bottom !important;
  font-weight: normal !important; }
