body {
  display: block;
  margin: 0 !important;
}

html {
  background-color: white !important;
}

ul.topmenu li * {
  color: white !important;
  ::before {
    color: white !important;
  }
}

.inner > h1 {
  display: none !important;
}

#myToolsBox {
  display: block !important;
  width: 220px !important;
  bottom: 0 !important;
  background-color: white !important;
  top: 100px !important;
  border: none !important;
  z-index: 999999 !important;
  position: relative;
  border-radius: 10px 0 0 10px !important;

  p:first-of-type {
    display: none !important;
  }

  .exam {
    background-image: none !important;
  }
}

.bodyContainer {
  width: auto !important;
  position: relative;
  height: 100%;
  margin: 0px auto;
  background-color: none !important;
  background-image: none !important;
  background-repeat: no-repeat;
  padding-top: 100px !important;
}

.nav {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 75px !important;
  background-color: transparent !important;
  background-image: none !important;

  .logo {
    padding: 20px 0px 20px 15px !important;
    margin: 0 !important;
    background-color: #3f51b5 !important;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

    img {
      content: url(chrome-extension://__MSG_@@extension_id__/Images/wklass.png);
      filter: brightness(0) invert(1);
      height: 40px !important;
      margin-left: 30px !important;
      margin-top: 0 !important;
    }

    // Before box-shadow: 0 70px 0 0 #3f51b5

    // ::before {
    //   content: "Startsida";
    //   pointer-events: none !important;
    //   color: white;
    //   text-decoration: none;
    //   font-size: 40px !important;
    //   position: absolute !important;
    //   margin-top: 72px !important;
    //   margin-left: 20px !important;
    //   font-weight: lighter !important;
    // }
  }

  .search {
    width: 190px !important;
    margin-top: 20px !important;

    p {
      background-image: none !important;
      background-color: white !important;
      border: 2px solid #3f51b5 !important;
      border-radius: 10px !important;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    }
  }

  ul.leftmenu {
    width: 190px !important;
  }

  .scoreboard {
    margin-top: 12px !important;
    margin-left: 0px !important;
    display: block;
    position: absolute;
    top: 0px !important;
    left: 200px;
    height: 75px !important;
    z-index: 999;
    width: calc(100vw - 201px) !important;
    background-color: transparent !important;

    a {
      padding-top: 42px !important;
    }

    .topmenu {
      li a {
        text-decoration: none;
        padding: 0px;
        display: block;
        padding-right: 12px;
        padding-left: 12px;
        font-weight: bold;
        color: #333;
        padding-top: 39px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center top;
        ::before {
          padding-top: 3px !important;
        }
      }
      li.topmenu-settings {
        text-align: right !important;
        // border-left: 3px solid white;
        padding-left: 12px !important;
      }

      li.topmenu-logout {
        text-align: right !important;
        margin-right: 50px !important;
      }

      li.topmenu-feed > a::after {
        font-family: "Material Icons";
        content: "explore";
        position: absolute !important;
        margin-left: 35px !important;
        font-size: 35px !important;
        top: 0px !important;
        border-left: 3px solid white !important;
        padding: 13px 0 12px 30px !important;
        color: white;
        pointer-events: none !important;
        text-decoration: none;
      }

      li.topmenu-relations > a::after {
        position: absolute !important;
        margin-left: 155px !important;
        font-size: 35px !important;
        top: 0px !important;
        padding: 10px 0 10px 55px !important;
        pointer-events: none !important;
        color: white;
        text-decoration: none;
      }
    }
  }

  .hide-menu-button {
    display: none !important;
  }

  h2 {
    display: none !important;
    background-image: none !important;
  }
}

#ctl00_navbar {
  display: inline-block !important;
}

#toggleBar,
#mytools {
  display: none !important;
}

ul.leftmenu {
  font-size: 115%;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 0 !important;
  margin-right: 4px;
  padding-left: 0;
  line-height: 50px;
  background-color: white !important;

  li {
    background-color: white !important;
    border: none !important;
  }
}

#toggleBarFlaerp {
  z-index: 9999996;
  padding: 0px;
  border-radius: 3px;
  background-color: white !important;
  position: right !important;
  top: 40px;
  right: -20px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  cursor: pointer;
  display: none !important;
}

.inner {
  background-image: none !important;

  h1 {
    background-image: none !important;
    content: none !important;
    position: relative !important;

    span {
      display: none !important;
    }
  }
}

@media only screen and (min-width: 1001px) {
  .article {
    background-color: white !important;
    background-image: none !important;
    margin-left: 150px !important;
    margin-right: 230px !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1000px) {
  #ctl00_navbar {
    display: none !important;
  }

  .article {
    background-color: white !important;
    background-image: none !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding: 0 !important;
    position: absolute !important;
  }
}

@media only screen and (max-width: 1200px) {
  #myToolsBox {
    display: none !important;
  }
}
